
body{
    width: 85%;
}
.container{
    display: flex;
    align-content: space-between;
    

    
}
.one, .two, .start{
    width: 33.33%;
}
.gameGrid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
   
    width: 50%;
    justify-self: center;
}

.gameGridDivs{
    border: 2px solid black;
    
    
}

h1{
    justify-self: center;
    background-color: brown;
}